/* google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');
/* style rule for default */
:root {
  --primary-color: #CAA892;
  --secondary-color: #37806B;
  --dark-color: #000000;
  --dark-color2: #212121;
  --dark-gray: #646464;
  --white-color: #FFFFFF;

  --font-family-open: 'Open Sans', sans-serif;
  --font-family-poppins: 'Poppins', sans-serif;

  --font-10px: 0.625rem;
  --font-12px: 0.75rem;
  --font-14px: 0.875rem;
  --font-16px: 1rem;
  --font-18px: 1.125rem;
  --font-20px: 1.25rem;
  --font-24px: 1.5rem;
  --font-30px: 1.875rem;
  --font-48px: 3rem;
  --font-50px: 3.125rem;
  --font-72px: 4.5rem;

  --font-regular:400;
  --font-medium:500;
  --font-semibold:600;
  --font-bold:700;

  --container-width: 1270px;
}


*{
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
}


/* common component */
body{
  font-family: var(--font-family-poppins);
  font-family: var(--font-family-open);
  max-width: var(--container-width);
  margin: 0 auto;
}
.container{
    margin: 0 auto
}


.sec-8 {
    text-align: center;
    /* display: flex; */
}

.sec8crd {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lhscrd {
    margin-left: -100px;
    border: 5px solid blue;
    width: 600px;
    /* display: block; */
}

.rhscrd {
    border: 5px solid blue;
    width: 600px;
    /* display: inline; */
}