/* google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');
/* style rule for default */
:root {
  --primary-color: #CAA892;
  --secondary-color: #37806B;
  --dark-color: #000000;
  --dark-color2: #212121;
  --dark-gray: #646464;
  --white-color: #FFFFFF;

  --font-family-open: 'Open Sans', sans-serif;
  --font-family-poppins: 'Poppins', sans-serif;

  --font-10px: 0.625rem;
  --font-12px: 0.75rem;
  --font-14px: 0.875rem;
  --font-16px: 1rem;
  --font-18px: 1.125rem;
  --font-20px: 1.25rem;
  --font-24px: 1.5rem;
  --font-30px: 1.875rem;
  --font-48px: 3rem;
  --font-50px: 3.125rem;
  --font-72px: 4.5rem;

  --font-regular:400;
  --font-medium:500;
  --font-semibold:600;
  --font-bold:700;

  --container-width: 1270px;
}


*{
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
}


/* common component */
body{
  font-family: var(--font-family-poppins);
  font-family: var(--font-family-open);
  max-width: var(--container-width);
  margin: 0 auto;
}
.container{
    
    margin: 0 auto;
}
/* navbar */
nav{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 46px 0 107px 0;
}
.logo{
  margin-right: auto;
}
nav ul {
  display: flex;
  gap: 30px;
  margin-right: 64px;
  align-items: center;
  /* flex: 1;
  margin-left: 384px; */
  
}
nav ul li a{
  color: var(--dark-color);
  font-family: var(--font-family-open);
  font-size: var(--font-16px);
  font-weight: var(--font-semibold);
}

.nav-btn a{
  background-color: var(--primary-color);
  border-radius: 15px 0px ;
  color: var(--white-color);
  font-family: var(--font-family-open) ;
  font-size: var(--font-16px);
  font-weight: var(--font-semibold);
  padding: 5px 19px;
  text-transform: capitalize;
}

.head{
  display: flex;
}

.head h4{
  margin-top: 111px;
  font-family: var(--font-family-open);
  font-size: var(--font-20px);
  font-weight: var(--font-semibold);
   color: #646464;;
}
.head h1{
  text-transform: capitalize;
  width: 575px;
  height: 179px;
  color: var(--dark-color2);
  font-family: var(--font-family-poppins);
  font-size: var(--font-72px);
  font-weight: var(--font-semibold);
  line-height: 78px;


}

.para{
  text-align: justify;
  width: 603px;
  height: 90px;
  text-transform: capitalize;
  padding-right: 44px;
}

.con-btn{
  margin-top: 46px;
  margin-bottom: 265px;
  background-color: var(--secondary-color);
  max-width: fit-content;
  border-radius: 15px 0px;
  color: white;
  font-family: var(--font-family-open);
  font-size: var(--font-18px);
  font-weight: var(--font-bold);
  padding: 12px 35px;
  text-transform: uppercase;

}

.head > .hero-img{
  display: flex;
  width: 717px;
  height: 626px;
}

.about h4 {
  color: var(--dark-gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-20px);
  font-weight: var(--font-semibold);
}


.about h1 {
  color: var(--dark-color2);
  font-family: var(--font-family-poppins);
  font-size: var(--font-48px);
  font-weight: var(--font-medium);
  text-transform: capitalize;
}

.about > .for-back {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: -44px;
}

.for-back > .backward {
  margin: 0;
  font-weight: 1000;
  color: var(--dark-color);
  background-color: var(--white-color);
  box-shadow: 0 0 10px 0px #868686;
  border-radius: 50%;
  padding: 10px 15px;
}

.for-back > .forward {
  margin: 0;
  font-weight: 1000;
  color: var(--dark-color);
  background-color: var(--white-color);
  box-shadow: 0 0 10px 0px #868686;
  border-radius: 50%;
  padding: 10px 15px;
}

.box-container {
  display: flex;
  gap: 37px;
  margin-top: 50px;
}

.box-container > .box1 {
  padding-left: 20px;
  padding-top: 30px;
  background-color: var(--white-color);
  border-radius: 60px 0;
  /* display: flex; */
  align-items: top;
  justify-content: center;
  width: 425px;
  height: 193px;
  box-shadow: 0 0 10px 0px #868686;
  text-align: left;
}
.box1 img {
  /* padding-top: 10px; */
  height: 40px;
  width: 40px;
}

.box1 h4 {
  position: relative;
  top: -16px;
  display: inline-flex;
  padding-left: 10px;
  font-size: var(--font-24px);
  font-weight: var(--font-bold);
  color: var(--dark-color2);
  text-transform: capitalize;
  word-wrap: normal;
  font-family: var(--font-family-open);
}

.box1 p {
  padding-left: 55px;
  text-transform: capitalize;
  color: var(--dark-gray);
  font-family: var(--font-family-open);
  font-size: var(--font-18px);
  letter-spacing: -0.25px;
}

.box-container > .box2 {
  padding-left: 20px;
  padding-top: 30px;
  background-color: var(--primary-color);
  border-radius: 60px 0;
  /* display: flex; */
  align-items: top;
  justify-content: center;
  width: 425px;
  height: 193px;
  box-shadow: 0 0 10px 0px #868686;
  text-align: left;
}
.box2 img {
  /* padding-top: 10px; */
  height: 40px;
  width: 40px;
}

.box2 h4 {
  position: relative;
  top: -16px;
  display: inline-flex;
  padding-left: 10px;
  font-size: var(--font-24px);
  font-weight: var(--font-bold);
  color: var(--dark-color2);
  text-transform: capitalize;
  word-wrap: normal;
  font-family: var(--font-family-open);
}

.box2 p {
  padding-left: 55px;
  text-transform: capitalize;
  color: var(--dark-gray);
  font-family: var(--font-family-open);
  font-size: var(--font-18px);
  letter-spacing: -0.25px;
}

.box-container > .box3 {
  padding-left: 20px;
  padding-top: 30px;
  background-color: var(--white-color);
  border-radius: 60px 0;
  /* display: flex; */
  align-items: top;
  justify-content: center;
  width: 425px;
  height: 193px;
  box-shadow: 0 0 10px 0px #868686;
  text-align: left;
}
.box3 img {
  /* padding-top: 10px; */
  height: 40px;
  width: 40px;
}

.box3 h4 {
  position: relative;
  top: -16px;
  display: inline-flex;
  padding-left: 10px;
  font-size: var(--font-24px);
  font-weight: var(--font-bold);
  color: var(--dark-color2);
  text-transform: capitalize;
  word-wrap: normal;
  font-family: var(--font-family-open);
}

.box3 p {
  padding-left: 55px;
  text-transform: capitalize;
  color: var(--dark-gray);
  font-family: var(--font-family-open);
  font-size: var(--font-18px);
  letter-spacing: -0.25px;
}

.img-two {
  margin-top: 204px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abtus {
  margin-top: 294px;

}
.img-two  h4 {
  display: inline;
  color: var(--dark-gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-20px);
  font-weight: 500;
  margin-top: 294px;
  margin-left: 60px;
}

.img-two  h2 {
  display: flex;
  text-align: left;
  width: 570px;
  color: var(--dark-color2);
  font-family: var(--font-family-poppins);
  font-size: var(--font-48px);
  font-weight: 500;
  line-height: 57px;
  text-transform: capitalize;
  margin-top: 6px;
  margin-left: 60px;
}

.img-two  p {
  margin-top: 22px;
  text-transform: none;
  color: var(--dark-gray);
  font-family: var(--font-family-open);
  margin-left: 60px;
  font-size: var(--font-18px);
  line-height: 30px;
}

.lrn-btn a {
  display: inline-flex;
  background-color: var(--secondary-color);
  margin-left: 60px;
  margin-top: 46px;
  padding: 15px 20px;
  border-radius: 30px 0;
  color: var(--white-color);
  font-family: var(--font-family-open);
  font-size: var(--font-16px);
  font-weight: var(--font-bold);
}



.head3{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 95px;
  margin-block: 90px;

}
.box13{
  width: 800px;
  display: block;
}

.box13 > h1{
  font-size: 200px;
  font-weight: 900;
  text-transform: uppercase;
  background: url(./image/clip.png);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box13 > h2 {
  /* margin-left: 0; */
  margin: 10px;
  max-width: 19rem;
  line-height: 35px;
  font-size:24px;
  font-weight: 600;
  letter-spacing: 2px; 
}
.box13 > span{
  display: block;
  margin: 10px;
  max-width: 19rem;
  line-height: 25px;
  font-size:24px;
  font-weight: 600;
  letter-spacing: 2px; 

}
.btn-box a{
  margin-top: 35px;
  margin-left: 0;
}

.hero-img{
  display: flex;
  width: 717px;
  height: 626px;
}
.hero-img img{
  display: block;
  max-width: 682px;
  max-height: fit-content;
}

.work {
  align-content: center;
  margin-top: 177px;
  margin-left: -325px;
  height: 677px;
  width: 1920px;
  background: #F8F8F8;
}

.cmp{
  margin-top: 87px;
}
.works {
  padding-top: 20px;
  text-align: center;
  color: var(--dark-color2);
  font-family: var(--font-family-poppins);
  font-size: 45px;
  font-weight: var(--font-medium);
  line-height: 60px;
  text-transform: capitalize;
}

.box-container2{ 
  /* border: 5px solid blue; */
  max-width: 1270px;
  display: flex;
  /* gap: auto; */
}
.box-container2  h2 {
  color: #212121;
  text-align: center;
  font-family: var(--font-family-open);
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.box-container2  h6 {
  text-align: center;
  color: #646464;
  font-family: var(--font-family-open);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.box-s {
  padding-block: 40px;
  align-items: center;
  justify-content: center;
  width: 185px;
  height: 182px;
  border-radius: 40px 0px;
  background: #FFF;
  box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.10);  
}

.box-s > h2 {
  color: #212121;
  text-align: center;
  font-family: var(--font-family-open);
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.box-s > h6{
  text-transform: none;
  color: #646464;
  font-family: var(--font-family-open);
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.boxa {
  
  margin-right: 190px;
  margin-top: 67px;
}
.boxb {
  margin-right: 190px;
  margin-top: 163px;
}
.boxc {
  margin-right: 190px;
  margin-top: 67px;
}
.boxd {
  margin-top: 163px;
}

.sec-7 {
  margin-top: 163px;
  height: 776px;
}
.sec-7 > .test {
  text-align: center;
} 
.sec-7 >.test h6{
  color: #646464;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sec-7 >.test span {
  text-transform: none;
  color: #212121;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sec-7 .flex {
  width: 571px;
  height: 226px;
  border-radius: 70px 0px;
  background: #FFF;
  box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
  position: relative;
}

.user-img {

  display: flex;
  gap: 140px;
  margin-top: 99px;
}

.img1-box > img {

position: absolute;
top: 37px;
right: 502px
}

.img1-box > h4 {
  text-transform: none;
  margin-top: 41px;
  margin-left: 100px;
  display: inline-block;
  color: #212121;
  font-family: var(--font-family-open);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.img1-box > span {
  text-transform: none;
  color: #646464;
  font-family: var(--font-family-open);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.img1-box > p {
  max-width: 434px;
  text-transform: none;
  margin-left: 99px;
  color: #646464;
  font-family: var(--font-family-open);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.img2-box > img {

  position: absolute;
  top: 37px;
  right: 502px
  }
  
  .img2-box > h4 {
    text-transform: none;
    margin-top: 41px;
    margin-left: 100px;
    display: inline-block;
    color: #212121;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .img2-box > span {
    text-transform: none;
    color: #646464;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .img2-box > p {
    max-width: 434px;
    text-transform: none;
    margin-left: 99px;
    color: #646464;
    font-family: var(--font-family-open);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }


  .sec-8 {
    margin-top: 183px;
    margin-left: -325px;
    height: 1021px;
    width: 1920px;
    background: #F8F8F8;
  }

  .sec-8 .latest {
    text-transform: capitalize;
    padding-top: 93px;
    padding-bottom: 25px;
    color: #646464;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
  }

  .latest > span {
    text-transform: none;
    color: #000000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }

  /* .sec-8 > .sec8crd{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border: 5px solid blue
  }



  .lhscrd {
    border: 2px solid green;
    height: 600px;
    width: 600px;
  }


  .lhscrd h6  {
    color: #212121;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }


  .lhscrd span {
    color: #646464;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;    
  }

  .rhscrd {
    border: 2px solid green;
    height: 600px;
    width: 600px;
  }


  .rhscrd h6  {
    color: #212121;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }


  .rhscrd span {
    color: #646464;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;    
  } */

  .sec8crd {
    display: flex;
    
  }

  .sec8crd .lhscrd {
    margin-left: 254px;
    /* border: 5px solid red; */
    height: 650px;
    width: 600px;

  }

  .lhscrd h6 {
    margin-top: 43px;
    margin-bottom: 17px;
    color: #212121;
    line-height: 28px;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
  }

  .lhscrd .trends span {
    text-transform: none;
    color: #646464;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  .sec8crd .rhscrd {
    /* border: 5px solid rgb(4, 0, 255); */
    height: 650px;
    width: 750px;

  }

  .rhscrd h6 {
    margin-top: 43px;
    margin-bottom: 17px;
    color: #212121;
    line-height: 28px;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
  }

  .rhscrd .trends span {
    text-transform: none;
    color: #646464;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }


  .con-btn8 {
    margin: 45px 0 0 0;
  }

  .con-btn8  a {
    list-style: none;
    color: white;
  }